tqdm
scipy
colorama
cython
pycocotools
visualdl >= 2.1.1
paddleslim == 2.2.1
shapely
paddlepaddle-gpu >= 2.2.0
opencv-python
opencv-contrib-python
scikit-learn == 0.23.2  # 0.20.3
lap
motmetrics
matplotlib
chardet
openpyxl
# GDAL >= 3.1.3  # install through https://www.lfd.uci.edu/~gohlke/pythonlibs/#gdal under windows
